body {
  background-color: white;
}

main {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 1.9em;
}

table {
  margin: auto;
}

td {
  height: 70px;
  min-width: 70px;
  border: 1px solid grey;
  text-align: center;
  transition: 0.7s;
}

td:hover {
  transform: scale(1.3);
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: #333333;
}

/* BORDER REMOVE */

tr:nth-child(1) > td:nth-child(n + 2):nth-child(-n + 17),
tr:nth-child(2) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(3) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(6) > td:nth-child(3),
tr:nth-child(7) > td:nth-child(3),
tr:nth-child(8) > td:nth-child(1),
tr:nth-child(8) > td:nth-child(n + 16):nth-child(-n + 18),
tr:nth-child(9) > td:nth-child(1),
tr:nth-child(9) > td:nth-child(n + 16):nth-child(-n + 18) {
  border: none;
}

/* COLOR EDITS */
/* PINK */
tr:nth-child(1) > td:nth-child(1),
tr:nth-child(2) > td:nth-child(n + 14):nth-child(-n + 16),
tr:nth-child(3) > td:nth-child(n + 15):nth-child(-n + 16),
tr:nth-child(4) > td:nth-child(16) {
  background-color: #ee7ca3;
}

/* RED */
tr:nth-child(2) > td:nth-child(1),
tr:nth-child(3) > td:nth-child(1),
tr:nth-child(4) > td:nth-child(1),
tr:nth-child(5) > td:nth-child(1),
tr:nth-child(6) > td:nth-child(1),
tr:nth-child(7) > td:nth-child(1),
tr:nth-child(7) > td:nth-child(17) {
  background-color: #e3544e;
}

/* PURPLE */
tr:nth-child(1) > td:nth-child(18),
tr:nth-child(2) > td:nth-child(18),
tr:nth-child(3) > td:nth-child(18),
tr:nth-child(4) > td:nth-child(18),
tr:nth-child(5) > td:nth-child(18),
tr:nth-child(6) > td:nth-child(18),
tr:nth-child(7) > td:nth-child(18),
tr:nth-child(7) > td:nth-child(16) {
  background-color: #9659a7;
}

/* BROWN */
tr:nth-child(2) > td:nth-child(2),
tr:nth-child(3) > td:nth-child(2),
tr:nth-child(4) > td:nth-child(2),
tr:nth-child(5) > td:nth-child(2),
tr:nth-child(6) > td:nth-child(2),
tr:nth-child(7) > td:nth-child(2),
tr:nth-child(7) > td:nth-child(18) {
  background-color: #ca7f36;
}

/* YELLOW */
tr:nth-child(2) > td:nth-child(17),
tr:nth-child(3) > td:nth-child(17),
tr:nth-child(4) > td:nth-child(17),
tr:nth-child(5) > td:nth-child(17),
tr:nth-child(6) > td:nth-child(17),
tr:nth-child(7) > td:nth-child(17),
tr:nth-child(7) > td:nth-child(15) {
  background-color: #dfbf15;
}

/* GREEN */
tr:nth-child(4) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(5) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(6) > td:nth-child(n + 4):nth-child(-n + 12),
tr:nth-child(7) > td:nth-child(n + 4):nth-child(-n + 12) {
  background-color: #3dcd83;
}

/* LIGHT BLUE */
tr:nth-child(8) > td:nth-child(n + 2):nth-child(-n + 15) {
  background-color: #409ad1;
}

/* GREEN BLUE */
tr:nth-child(9) > td:nth-child(n + 2):nth-child(-n + 15) {
  background-color: #559f9f;
}

/* ORANGE */
tr:nth-child(2) > td:nth-child(13),
tr:nth-child(3) > td:nth-child(14),
tr:nth-child(4) > td:nth-child(n + 14):nth-child(-n + 15),
tr:nth-child(5) > td:nth-child(n + 15):nth-child(-n + 16),
tr:nth-child(6) > td:nth-child(16) {
  background-color: #f5aa47;
}

/* PINK */
tr:nth-child(3) > td:nth-child(13),
tr:nth-child(4) > td:nth-child(13),
tr:nth-child(5) > td:nth-child(n + 13):nth-child(-n + 14),
tr:nth-child(6) > td:nth-child(n + 13):nth-child(-n + 15),
tr:nth-child(7) > td:nth-child(n + 13):nth-child(-n + 14) {
  background-color: #ee7ca3;
}
