main {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Montserrat;
  font-weight: 500;
}

table {
  width: 70%;
  margin: auto;
}

td {
  height: 60px;
  width: 90px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  transition: 0.7s;
}

td:hover {
  transform: scale(1.8);
  background-color: honeydew;

  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

tr:nth-child(1) > td:nth-child(n + 2):nth-child(-n + 17),
tr:nth-child(2) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(3) > td:nth-child(n + 3):nth-child(-n + 12),
tr:nth-child(6) > td:nth-child(3),
tr:nth-child(7) > td:nth-child(3),
tr:nth-child(8) > td:nth-child(1),
tr:nth-child(8) > td:nth-child(n + 16):nth-child(-n + 18),
tr:nth-child(9) > td:nth-child(1),
tr:nth-child(9) > td:nth-child(n + 16):nth-child(-n + 18) {
  border: none;
}
